
* {
    box-sizing: border-box;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

#self {
    background-color: cyan;
}

#dist {
    background-color: magenta;
}

